    table {
        border-collapse: collapse;
        border: 1px solid grey;
     }

     table.detailtable td {
        font-size: 90%;
        font-family: Verdana, Arial, Sans-Serif;
     }

    .normal {
        font-weight: normal;
    }

   .thick {
       font-weight: bold;
    }

   .sesNumber{
       font-size:16px;
       font-weight:bold;
   }

   .custom-input {
       border: 1px solid lightgray;
    }
   
   .k-upload .k-upload-status-total {
      visibility: hidden;
    }

   .k-dropzone {
     height:40px;
    }

   .progressBarLoad {
         display: none;
         width: 50%;
         margin-left: auto;
         margin-right: auto;
   }
     
  .loadError {
         display: none;
         width: 70%;
         margin-left: auto;
         margin-right: auto;
   }

  .button {
         font-size: 80%;
         font-family: Verdana, Arial, Sans-Serif;
         font-weight: normal;
   }


  .k-widget > span.k-invalid,
  .k-widget > div.k-invalid,
  input.k-invalid {
       background-color: red; /*Style invalid widgets*/
  }

   

.CSSTableGenerator {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}
.CSSTableGenerator td{
	vertical-align:middle;
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:13px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #ff7f00 5%, #bf5f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff7f00), color-stop(1, #bf5f00) );
	background:-moz-linear-gradient( center top, #ff7f00 5%, #bf5f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7f00", endColorstr="#bf5f00");	background: -o-linear-gradient(top,#ff7f00,bf5f00);
    background-color:#ff7f00;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:17px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}



  #modalContainer {
	background-color:rgba(0, 0, 0, 0.3);
	position:absolute;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	z-index:10000;
	background-image:url(tp.png); /* required by MSIE to prevent actions on lower z-index elements */
}

#alertBox {
	position:relative;
	width:300px;
	min-height:100px;
	margin-top:50px;
	border:1px solid #666;
	background-color:#fff;
	background-repeat:no-repeat;
	background-position:20px 30px;
}

#modalContainer > #alertBox {
	position:fixed;
}

#alertBox h1 {
	margin:0;
	font:bold 0.9em verdana,arial;
	background-color:#3073BB;
	color:#FFF;
	border-bottom:1px solid #000;
	padding:2px 0 2px 5px;
}

#alertBox p {
	font:0.7em verdana,arial;
	height:50px;
	padding-left:5px;
	margin-left:55px;
}

#alertBox #closeBtn {
	display:block;
	position:relative;
	margin:5px auto;
	padding:7px;
	border:0 none;
	width:70px;
	font:0.7em verdana,arial;
	text-transform:uppercase;
	text-align:center;
	color:#FFF;
	background-color:#357EBD;
	border-radius: 3px;
	text-decoration:none;
}

/* unrelated styles */

#mContainer {
	position:relative;
	width:600px;
	margin:auto;
	padding:5px;
	border-top:2px solid #000;
	border-bottom:2px solid #000;
	font:0.7em verdana,arial;
}

h1,h2 {
	margin:0;
	padding:4px;
	font:bold 1.5em verdana;
	border-bottom:1px solid #000;
}

code {
	font-size:1.2em;
	color:#069;
}

#credits {
	position:relative;
	margin:25px auto 0px auto;
	width:350px; 
	font:0.7em verdana;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
	height:90px;
	padding-top:4px;
}

#credits img {
	float:left;
	margin:5px 10px 5px 0px;
	border:1px solid #000000;
	width:80px;
	height:79px;
}

.important {
	background-color:#F5FCC8;
	padding:2px;
}

code span {
	color:green;
} 

.k-grid-content {
    overflow-y: auto;
}

.k-grid-header-wrap {
    width: 102%;
}

.k-grid-footer-wrap {
    width: 102%;
}

    
/* Grid controls font size*/
.k-grid td {
   font-size: 13px !important;
}

.k-header {
   font-size: 13px !important;
} 

 .k-widget select, .k-widget textarea, .k-widget input[type="text"]:not(.k-input), .k-widget input[type="password"], .k-widget input[type="datetime"], .k-widget input[type="datetime-local"], .k-widget input[type="date"], .k-widget input[type="month"], .k-widget input[type="time"], .k-widget input[type="week"], .k-widget input[type="number"], .k-widget input[type="email"], .k-widget input[type="url"], .k-widget input[type="search"], .k-widget input[type="tel"], .k-widget input[type="color"], .k-widget .uneditable-input {
    box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; height:70%;
}

.k-window .row, .k-window .row *:not(.k-widget):not(.k-animation-container), .k-widget .row *:before:not(.k-widget) { box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }

.k-widget .col-lg-1, .k-widget .col-lg-2, .k-widget .col-lg-3, .k-widget .col-lg-4, .k-widget .col-lg-5, .k-widget .col-lg-6, .k-widget .col-lg-7, .k-widget .col-lg-8, .k-widget .col-lg-9, .k-widget .col-lg-10, .k-widget .col-lg-11, .k-widget .col-lg-12, .k-widget .col-md-1, .k-widget .col-md-2, .k-widget .col-md-3, .k-widget .col-md-4, .k-widget .col-md-5, .k-widget .col-md-6, .k-widget .col-md-7, .k-widget .col-md-8, .k-widget .col-md-9, .k-widget .col-md-10, .k-widget .col-md-11, .k-widget .col-md-12, .k-widget .col-sm-1, .k-widget .col-sm-2, .k-widget .col-sm-3, .k-widget .col-sm-4, .k-widget .col-sm-5, .k-widget .col-sm-6, .k-widget .col-sm-7, .k-widget .col-sm-8, .k-widget .col-sm-9, .k-widget .col-sm-10, .k-widget .col-sm-11, .k-widget .col-sm-12, .k-widget .col-xs-1, .k-widget .col-xs-2, .k-widget .col-xs-3, .k-widget .col-xs-4, .k-widget .col-xs-5, .k-widget .col-xs-6, .k-widget .col-xs-7, .k-widget .col-xs-8, .k-widget .col-xs-9, .k-widget .col-xs-10, .k-widget .col-xs-11, .k-widget .col-xs-12{
    box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}


.divClassHeader {
    border: thin solid !important;
    border-color: lightgray !important;
    font-size: 90% !important;
    font-family: Verdana, Arial, Sans-Serif !important;
    margin: 5px 0px 20px 15px !important;
    width: 97% !important;
}

  .btn-hyperlink {
       display: block;
       width: 130px;
       height : 20px;
       font-weight: bold;
       font: bold 11px Arial;
       text-decoration:none;
       text-decoration-line:none;
       color: #ffffff;
       background-color: #428bca;
       border-color: #357ebd;
       text-align : center;
       vertical-align: middle;
       padding-top: 10px;
 }

.btn-hyperlink:hover,
.btn-hyperlink:focus,
.btn-hyperlink:active,
.btn-hyperlink.active,
.open .dropdown-toggle.btn-hyperlink {
  color: #ffffff;
  background-color: #3276b1;
  border-color: #285e8e;
}

.btn-hyperlink:active,
.btn-hyperlink.active,
.open .dropdown-toggle.btn-hyperlink {
  background-image: none;
}

.btn-hyperlink.disabled,
.btn-hyperlink[disabled],
fieldset[disabled] .btn-hyperlink,
.btn-hyperlink.disabled:hover,
.btn-hyperlink[disabled]:hover,
fieldset[disabled] .btn-hyperlink:hover,
.btn-hyperlink.disabled:focus,
.btn-hyperlink[disabled]:focus,
fieldset[disabled] .btn-hyperlink:focus,
.btn-hyperlink.disabled:active,
.btn-hyperlink[disabled]:active,
fieldset[disabled] .btn-hyperlink:active,
.btn-hyperlink.disabled.active,
.btn-hyperlink[disabled].active,
fieldset[disabled] .btn-hyperlink.active {
  background-color: #428bca;
  border-color: #357ebd;
}


 .input-text {
       border: 1px solid lightgray;
       /*width: 1000px;
       padding: 1px*/
    }

 
.navbar-inverse {
  background-color: #fff;
  border-color: gray;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {

  background-color: #fff;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #fff;
}

.navbar-inverse .navbar-text {
  color: #004080 !important;
}

.navbar-inverse .navbar-nav > li > a {
  
  color: #004080 !important;
}


.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.ms-rteForeColor-3 {
	color: orange; -ms-name: ""; -ms-color: "Gold";
}

.ms-rteForeColor-10 {
	color: purple; -ms-name: ""; -ms-color: "Dark Purple";
}

/*th {
    background-color: blue;
    color: white;
}*/
 
.container {
     padding-right: auto; 
     padding-left: auto;  
     margin-right: auto;
     margin-left: auto;
}


.table-bordered {
	border: 1px solid rgb(0, 154, 195);
}
.table-bordered > tbody > tr > td {
	border: 1px solid rgb(0, 154, 195);
}
.table-bordered > tbody > tr > th {
	border: 1px solid rgb(0, 154, 195);
}
.table-bordered tr.TableHeaderRow {
	color: rgb(255, 255, 255); background-color: rgb(0, 154, 195);
}
.table-bordered tr.TableFooterRow {
	color: rgb(255, 255, 255); background-color: rgb(0, 154, 195);
}
.table-bordered tr.TableHeaderRow > th {
	color: rgb(255, 255, 255); background-color: rgb(0, 154, 195);
}
.table-bordered tr.TableFooterRow > th {
	color: rgb(255, 255, 255); background-color: rgb(0, 154, 195);
}
.table-bordered tr.TableFooterRow > td {
	color: rgb(255, 255, 255); background-color: rgb(0, 154, 195);
}

#footer {margin:auto auto auto auto; width:1000px; height:104px; line-height:20px; text-align:center; font-weight:100; }
#footer a {color:black; text-decoration:none;}
#footer a:hover {color:blue; text-decoration:underline;}
#footer .padding {padding-left:15px;}


