@{
    
}


<html>
    <head>
        <title>@ViewBag.Title</title>
    </head>

    <body>
        <div class="container">
            <p>
                <strong><u>Training</u></strong><br />
                <a href="http://rorwdp1.vta.org/gm/cabinet-1.25.1001?mode=EU" target="_blank" style="text-decoration: underline;"><em>Click here for Training Material</em></a>
            </p>

            <p>
                <strong>
                    <u>
                        <span style="font-family: calibri, sans-serif; font-size: 11pt;">
                            <strong class="ms-rteThemeFontFace-1" style="font-size: 14px;">
                                <font color="#000000">Key Accomplishments</font>
                            </strong>
                        </span>
                    </u>
                </strong>
            </p>

            <table class="table table-bordered" style="width: 58%; height: 131px;" @*style="border:1px solid black;border-collapse:collapse;"*@>
                <thead>
                    <tr class="TableHeaderRow">
                        <th style="border:1px solid black;">Status</th>
                        <th style="border:1px solid black;">​VTA Business Areas</th>
                        <th style="border:1px solid black;">Scheduled Pay Period</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><span class="ms-rteForeColor-10"><strong><em>​Planned</em></strong></span></td>
                        <td>​Operations Rollout to Steve Johnstone&#39;s Group</td>
                        <td>​Next Pay Period</td>
                    </tr>
                    <tr>
                        <td><span class="ms-rteForeColor-3"><strong>​Pending</strong></span></td>
                        <td>Operations Division</td>
                        <td>​TBD</td>
                    </tr>
                    <tr>
                        <td><span class="ms-rteForeColor-3"><strong>​Pending</strong></span></td>
                        <td>​VTA General Counsel</td>
                        <td>​TBD</td>
                    </tr>
                    <tr>
                        <td><span class="text-success"><strong>​Completed</strong></span></td>
                        <td>​Planning &amp; Program Development Division</td>
                        <td>​​August 31, 2015</td>
                    </tr>
                    <tr>
                        <td><span class="text-success"><strong>​Completed</strong></span></td>
                        <td>​P&amp;PD Group (Haywood) Successful - PP17</td>
                        <td>August 14, 2015</td>
                    </tr>
                    <tr>
                        <td><span class="text-success"><strong>​Completed</strong></span></td>
                        <td>Backup Supervisor Functionality</td>
                        <td>August 4, 2015</td>
                    </tr>
                    <tr>
                        <td><span class="text-success"><strong>​Completed</strong></span></td>
                        <td>Timekeeper Module: TK Admin &amp; Emp/TK Assignment Screens, TSAR OnDemand Verification, WOOC selection Opened up, Timekeepers enabled to create their own OnDemand TSAR &amp; eTime Menu modifications (added Administration Tab).</td>
                        <td>July 31, 2015</td>
                    </tr>
                    <tr>
                        <td><span class="text-success"><strong>​Completed</strong></span></td>
                        <td>K2 Performance Tuning - Server &amp; Software</td>
                        <td>​July 1, 2015</td>
                    </tr>
                    <tr>
                        <td><span class="text-success"><strong>​Completed</strong></span></td>
                        <td>Engr &amp; Transp Infra Dev, SVRT Program</td>
                        <td>Pay Period 14, 2015</td>
                    </tr>
                    <tr>
                        <td><span class="text-success"><strong>​Completed</strong></span></td>
                        <td>GM, Chief of Staff, Gov Affairs, &amp; System Safety &amp; Security Business Areas</td>
                        <td>Pay Period 12, 2015</td>
                    </tr>
                    <tr>
                        <td><span class="text-success"><strong>​Completed</strong></span></td>
                        <td>
                            <strong><font color="#005594">eTime Enhancements</font></strong>
                            <ul>
                                <li><span class="ms-rteThemeFontFace-1">TSAR Validate &amp; Refresh Functionality</span></li>
                                <li><span class="ms-rteThemeFontFace-1">Timekeeper Management Portal</span></li>
                            </ul>
                        </td>
                        <td>​Pay Period 8, 2015 - Pay Period 10, 2015</td>
                    </tr>
                    <tr>
                        <td><span class="text-success"><strong>​Completed</strong></span></td>
                        <td>Budget &amp; Finance and Business Services Divisions</td>
                        <td>Pay Period 6, 2015</td>
                    </tr>
                    <tr>
                        <td><span class="text-success"><strong>​Completed</strong></span></td>
                        <td>Disbursements and Technology Groups</td>
                        <td>Pay Period 4, 2015</td>
                    </tr>
                </tbody>
            </table>

            <p>
                <span style="font-family:Calibri, sans-serif; font-size: 11pt;">
                    <em>Please have your Pay Exception Approval Request (PEAR)&#39;s to your supervisor before the TSAR&#39;s are generated on 2</em><em><sup>nd</sup></em>
                    <em>&#160;Friday morning of the non-pay week.</em>
                </span>

            <p>Any new PEARs submitted and approved after&#160;Friday Morning TSAR automatic generation will be added via the Refresh Button upon submission.</p>

            <p>
                <strong>Key Dates</strong> – remember this is a collaborative effort with your supervisor and timekeeper. Your Timekeeper will provide specific information for each Pay Period.
            </p>
            <ul>
                <li>
                    TSAR automatically generates on the Pay Period&#39;s 2<sup>nd</sup> Friday morning&#160;of non-pay week -&gt; you&#39;ll see an email from
                    <span class="ms-rteForeColor-3"><strong>VTAeProcess@vta.org</strong></span> on Friday morning of the non-pay week telling you it&#39;s ready.
                </li>
                <li>If there are no exceptions, simply Review &amp; Submit your TSAR to your supervisor by 2<sup>nd</sup> Friday of&#160;non-pay week.</li>
                <li>If you work the weekend of your 2<sup>nd</sup> non pay week, coordinate with your supervisor and timekeeper so the TSAR time-period doesn&#39;t expire and escalate the approval process.</li>
                <li>All TSAR&#39;s must be submitted to SAP no later than noon Tuesday of payweek for every pay period </li>
                <ul><li><em>Timekeepers have an absolute submission time of Noon on Wednesday of the pay week</em></li></ul>
            </ul>

            <p>
                <strong>Phased eTime Management  rollout plan by Pay Period</strong>
            </p>

            <table class="table table-bordered" style="width: 100%; height: 699px;">
                @*<thead>
                    <tr>
                        <th>Pay Period</th>
                        <th>Date Range</th>
                        <th>Group</th>
                        <th>Division/Department</th>
                        <th>Staff Size</th>
                    </tr>
                </thead>*@
                <tbody>
                    <tr>
                        <td><strong>Pay Period</strong></td>
                        <td><strong>Date Range</strong></td>
                        <td><strong>Group</strong></td>
                        <td><strong>Division/Department</strong></td>
                        <td><strong>Staff Size</strong></td>
                    </tr>
                    <tr>
                        <td>4 / 2015</td>
                        <td>February 2 – 15</td>
                        <td>1</td>
                        <td>Payroll</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>2</td>
                        <td>Technology</td>
                        <td>49</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><strong>TOTAL PP4 Rollout</strong></td>
                        <td><strong>69</strong></td>
                    </tr>
                    <tr>
                        <td>6 / 2015</td>
                        <td>March 2 – 15</td>
                        <td>1</td>
                        <td>Business Services</td>
                        <td>103</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>2</td>
                        <td>Fiscal Resources</td>
                        <td>63</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><strong>TOTAL PP6 Rollout</strong></td>
                        <td><strong>166</strong></td>
                    </tr>
                    <tr>
                        <td>12 / 2015</td>
                        <td>May 25 – June 07</td>
                        <td>1</td>
                        <td>Chief of Staff</td>
                        <td>61</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>2</td>
                        <td>General Manager</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>3</td>
                        <td>Government Affairs</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>4</td>
                        <td>System Safety &amp; Security</td>
                        <td>38</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><strong>TOTAL PP12 Rollout</strong></td>
                        <td><strong>115</strong></td>
                    </tr>
                    <tr>
                        <td>14 / 2015</td>
                        <td>June 22 – July 05</td>
                        <td>1</td>
                        <td>Engineering &amp; Transportation Infrastructure Development</td>
                        <td>51</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><strong>TOTAL PP14 Rollout</strong></td>
                        <td><strong>51</strong></td>
                    </tr>
                    <tr>
                        <td>​19 / 2015</td>
                        <td>​August 31, 2015</td>
                        <td>1</td>
                        <td>​Planning &amp; Program Development Division</td>
                        <td>92</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><strong>​TOTLA PP19 Rollout</strong></td>
                        <td><strong>92</strong></td>
                    </tr>
                    <tr>
                        <td><strong>​Total Staff Deployed</strong></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><strong>493</strong></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>TBD</td>
                        <td>2</td>
                        <td>Operations</td>
                        <td>144</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>TBD</td>
                        <td>1</td>
                        <td>General Counsel</td>
                        <td>13</td>
                    </tr>
                    <tr>
                        <td><strong>​Remaining Staff Count</strong></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><strong>157</strong></td>
                    </tr>
                </tbody>
            </table>

            <p>
                <strong>Timekeeper eTime  Engagement Meeting </strong>– Before rolling-out eTime to each area, the eTime Team  will have a meeting with timekeepers to bring them onboard making them a key  player in the rollout plan.&#160;
            </p>

            <table class="table table-bordered" style="width: 100%;">
                <tbody>
                    <tr>
                        <td><strong>Pay Period</strong></td>
                        <td><strong>Timekeepers</strong></td>
                        <td><strong>Status</strong></td>
                    </tr>
                    <tr>
                        <td>4 / 2015</td>
                        <td>Tech/Disbursements: Sonia, Madie, Thuy, Mely</td>
                        <td>Timekeepers Trained, Engaged, &amp; Online</td>
                    </tr>
                    <tr>
                        <td>6 / 2015</td>
                        <td>B. Services/Finance: C Trejo, M. Yates, Mely , Reyne</td>
                        <td>Timekeepers Trained, Engaged, &amp; Online</td>
                    </tr>
                    <tr>
                        <td>12 / 2015</td>
                        <td>GM/ Chief of Staff: Michelle, Gail, Debbie, Eva</td>
                        <td>Timekeepers Trained, Engaged, &amp; Online</td>
                    </tr>
                    <tr>
                        <td>14 / 2015</td>
                        <td>E&amp;TID: Rosie Gonzalez, Annee Ruiz, Maria Holmany</td>
                        <td>Timekeepers Trained, Engaged, &amp; Online</td>
                    </tr>
                    <tr>
                        <td>19 / 2015</td>
                        <td>P&amp;PD: ​Connie Domingo, Rachelle Akino</td>
                        <td>Timekeepers Trained, Engaged, &amp; Online</td>
                    </tr>
                    <tr>
                        <td>TBD</td>
                        <td>Operations: Gail L., Maria S.</td>
                        <td>TBD</td>
                    </tr>
                    <tr>
                        <td>TBD</td>
                        <td>​Legal Counsel: Terry Boston</td>
                        <td>TBD</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>