<div class="row">
    <a href="http://rorwdp1.vta.org/gm/cabinet-1.25.1001?mode=EU">FAQ</a> <span class="padding">|</span>
    <span class="padding">@Html.ActionLink("Training Materials", "TrainingMaterial", "HelpCenter")</span><span class="padding">|</span>
    <span class="padding">@Html.ActionLink("Release Notes", "Releasenotes", "HelpCenter")</span><span class="padding">|</span>
    <span class="padding">@Html.ActionLink("Getting Started", "GettingStarted", "HelpCenter")</span><span class="padding">|</span>
    @*<span class="padding"><a href="http://rorwdp1.vta.org/gm/cabinet-1.25.1001?mode=EU">Training Materials</a></span><span class="padding">|</span>
    <span class="padding"><a href="http://thehub.vta.org/etime/Release%20Notes/Forms/AllItems.aspx">Release Notes</a></span><span class="padding">|</span>
    <span class="padding"><a href="http://thehub.vta.org/etime/Release%20Notes/Forms/AllItems.aspx">Getting Started</a></span><span class="padding">|</span>*@
    <span class="padding"><a href="http://rorwdp1.vta.org/gm/cabinet-1.25.1001?mode=EU">Support</a></span>
</div>
