
@{
    ViewBag.Title = "FMLARequest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>FMLA Request Main Form</h4>

<body>
   
    <p>
    This form is used to request approval for leave under the Family and Medical Leave of Absence Policy and California Family Rights Act.  A leave request based on an employee’s serious health condition or the serious health condition of an employee’s spouse, registered domestic partner, child, child of a registered domestic partner, or parent and must be accompanied by the proper medical certification form indicating a serious health condition. This Request Form must be submitted to your supervisor at least 30 days prior to the commencement of leave for an anticipated absence due to a serious health condition, or the same day you return to work for unforeseen absences.  Failure to submit this form in a timely fashion may result in delay or denied leave.
</body>